//- layout.pug
doctype html
html
	head
		meta(charset='utf-8')
		block title
			title Company name
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		meta(name='description', content='descr')
		meta(name="subject" content="Subject")
		meta( name="keywords" content="one, two, three, four, five, some")
		meta(name="author" content="snailsloth")
		meta(name="copyright" content="feel free to use and help me to get better template")
		meta(name="theme-color" content="#000")
		//- meta(property="og:image" content="/img/logo.png")
		meta(property="og:description" content="Have a good day")
		meta(property="og:title" content="Snailsloth")
		meta(name="twitter:title" content="Snailsloth")
		//- link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
		//- link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
		//- link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
		link(rel="author" href="humans.txt")
		link(rel="me" href="mailto:oleisme@gmail.com")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400&amp;subset=cyrillic" rel="stylesheet")
		//- link(rel='stylesheet', href='styles/main.css')
		block scripts
	body
		block header
		block content
		block footer
			//- include _footer.pug