/*
@import "../../media-hash.styl"
+for_breakpoint(PhonePort) или +for_breakpoint(PhonePort PhoneLand)
 .button-rounded
  padding 0.5rem 1.5rem
*/

media_queries = {
  PhonePort  : "only screen and (max-width: 479px)",
  PhoneLand  : "only screen and (min-width: 480px) and (max-width: 767px)",
  TabletPort : "only screen and (min-width: 768px) and (max-width: 959px)",
  DesknTablet : "only screen and (min-width: 960px) and (max-width: 1199px)",
  MDesk : "only screen and (min-width: 1199px) and (max-width: 1399px)",
  LDesk:"only screen and (min-width: 1400px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}